DEBUG_LEVEL=DEBUG
# the following urls are the default-urls u need to setup
# if your mock-server and cli-websocket run in default
# u don't need to change anything
BASE_URL=http://localhost:8080/mock/
AUTH_BASE_URL=http://localhost:8080/auth/
CONNECTION_URL=ws://127.0.0.1:8080/ws
SUBSCRIPTION_URL=http://127.0.0.1:8080/
# command: twitch mock-api generate
# generates the following credentials (printed in twitch-console)
# CLI_UID = user_id generated
CLI_UID=82175672            
# CLI_ID = client_id generated
CLI_ID=721f1e5c0de583bec3cf4d622db659
# CLI_S => client_secret generated
CLI_S=d56c052f7c8e770c97a70b851846d0

# if u want to test on live-streaming
# only needed for einfachLive Tests
CLIENT_USER=snafuq
CLIENT_ID=in4ao5rmpzimrqdhqk1q2ba17rez1w
CLIENT_S=078ibewq5hzib64z3hnxnoumozqlxn